body{
    background: black;
    height: 100vh;
    width: 100%;
    margin: 0;
    border: 2px solid red;
}

.container {
    height: 100vh;

    display: flex;
}

.left-side {
    width: 40%;
    max-width: 40%;
    height: 100vh;
    background-image: url("/Images/thomas-kelley-JoH60FhTp50-unsplash.jpg");
    background-size: cover;
}
.logo-container {
    margin-top: 25%;
    width: 100%;
    background: black;
    opacity: 50%;
    color: white;
    display:flex;
    justify-content:center;
}

.logo {
    position:relative;
    top: 9%;
    right:15%;
    border: 2px solid red;
    display:flex;
}

.img-logo {
    display:flex;
    width: 90px;
    height: auto;
}

.photo-credit {
    color:white;
    position: absolute;
    top: 99%;
    left:6%;
    font-family:arial,serif;
}

.right-side {
    width: 70%;
    background: #f8f8f8;
}

.motivation-text {
    color: black;
    border: 2px solid blue;
    height: 100px;
    width: 600px;
    font-weight: bold;
    font-family: arial, serif;
    font-size: 23px;
    margin-left: 10%;
    margin-top: 5%;
}

.forms-container {
    box-shadow: 2px 2px 5px grey;
    width:100%;
    height: 30vh;
    background: white;
    margin-top:10%;
}

.form-title {
    font-weight: bold;
    font-family: arial, serif;
    font-size: 23px;
    width: 50%;
    margin-left: 10%;
    padding: 5px;
}
/* flex-flow: row wrap makes it so that the inputs flow to the other row, instead of stretching only one whole row */

form {
    margin-left: 10%;
    display:flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid red;
    max-width: 50%;

}
/* putting flex-flow: column wrap will make it so that the input wraps around columns instead of stretching out, puts inputs below the label*/

.input {
    display:flex;
    flex-flow: column wrap;
    width: 40%;
    font-family: arial, serif;
    font-size: 18px;
}

input {
    border:none;
    border-bottom: 2px solid black;
    height: 35px;
}

.sign-up-button {

}

button {
    background-color:#4CAF50;
    position:absolute;
    color:white;
    font-size: 18px;
    padding: 5px;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    left: 42%;
    top: 60%;
}

.login {
    width: 250px;
    display:flex;
    font-family: arial, serif;
    gap: 5px;
    border: 2px solid blue;
    margin-left: 10%;
    margin-top: 12%;
}

a {
    color:#4CAF50;
}
